body{
    color: #FFF;
    font-family: 'IBM Plex Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.logo{
    text-align: center;
    margin: 15px 15px 15px 15px;
}

#barra-header{
    background-color: #212830;
    color: #FFF;
    text-align: center;
    font-family: 'IBM Plex Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 100%;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
